player-connection-mode=Listen
player-connection-guid=3734975198
player-connection-debug=0
player-connection-project-name=Elliot Show Time
player-connection-ip=10.1.1.107
player-connection-ip=26.107.196.170
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d9ece7df20844f8491343a6f73f0940d
